<template name="saaCreate">
    <div class="saaCreate d-flex flex-row ui-h100 align-items-center justify-content-center">

        <div class="ui-w80 d-flex justify-content-evenly">
            {{#if hideComponent }}
                <button class="btn btn-md btn-outline-secondary js-show">{{{ i18n key="alt.text" }}}</button>
            {{else}}
                {{#if haveImage }}
                    <img src="{{ image }}" />
                {{/if}}
                {{> acUserLogin (parmsUserLogin) }}
            {{/if}}
        </div>

    </div>
</template>
