/*
 * pwix:startup-app-admin/src/client/components/saaCreate/saaCreate.less
 *
 * The application is expected to make sure we have a whole (width+height) div to display ourselves.
 * We want center horizontally and vertically.
 */

.saaCreate {
    // a small margin, even on XS displays
    --saa-padding: calc( var( --ui-resp-5-1-5 ) * 0.25em );

    img {
        width: 25%;
    }

    .acUserLogin {
        width: 40%;
    }

    .js-show {
        line-height: 200%;
        padding: 1em 2em;
    }

    .ac-text-one {
        font-size: 105%;
        font-weight: bold;
    }
}
