/*
 * pwix:startup-app-admin/src/client/components/saaCreate/saaCreate.less
 *
 * The application is expected to make sure we have a whole (width+height) div to display ourselves.
 * We want center horizontally and vertically.
 */

@import "{pwix:layout}/src/client/stylesheets/layout.less";

.saaCreate {
    // a small margin, even on XS displays
    --saa-padding: calc( var( --x-resp-5-1-5 ) * 0.25em );

    // horizontally and vertically positionning
    .saa-outer {
        display: table;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .saa-middle {
        display: table-cell;
        vertical-align: middle;
    }
    .saa-inner {
        padding: var( --saa-padding );
        img {
            width: 25%;
        }
        .acUserLogin {
            width: 40%;
        }
    }
}

.saaCreate {
    .js-show {
        line-height: 200%;
        padding: 1em 2em;
    }

    .ac-text-one {
        font-size: 105%;
        font-weight: bold;
    }
}
